.App {
  text-align: center;
}

.background-dark {
  background-color: rgb(40, 39, 66) !important;
  color: white !important;
}

.background-light {
  background-color: white;
  color: #282742;
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.clickable {
  cursor: pointer;
}
