.App {
  text-align: center;
  font-family: "Ubuntu";
}

.background-dark {
  background-color: rgb(40, 39, 66) !important;
  color: white !important;
}

.background-light {
  background-color: rgb(206, 204, 204);
  color: #282742;
}

.clickable {
  cursor: pointer;
}
