body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#hidden {
  visibility: hidden !important;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.cedar {
  font-family: "Cedarville Cursive", cursive;
}

.marginless {
  margin: 0;
}

.margin-top {
  margin-top: 20px;
}

.no-border {
  border-color: transparent !important;
}

#home-container {
  font-family: "Ubuntu";
}

@media only screen and (min-width: 200px) and (max-width: 1440px) {
  html,
  body {
    overflow: scroll;
  }
}
